img {
  width: 350px;
  height: 500px;
  padding: 0 10px; /* 좌우 여백 */
}

.container {
  padding: 60px;
  display: flex;
  justify-content: center; /* 수평 가운데 정렬 */
  align-items: center; /* 수직 가운데 정렬 */
}

.fileButton {
  margin: 15px;
  background-color: white;
  color: black;
  width: 300px;
  height: 45px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  display: flex;
  justify-content: center; /* 수평 가운데 정렬 */
  align-items: center;
}

.fileButton:hover {
  background-color: #c21807;
  color: white;
}

.initializeButton {
  margin: 10px;
  background-color: white;
  color: black;
  width: 100px;
  height: 25px;
  border: none;
  border-radius: 5px;
  font-size: 13px;
}

.initializeButton:hover {
  background-color: #888888;
  color: black;
}

.AIButton {
  margin: 45px 15px 15px 15px;
  background-color: #c21807;
  color: white;
  width: 500px;
  height: 60px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  display: flex;
  justify-content: center; /* 수평 가운데 정렬 */
  align-items: center;
}

.AIButton:disabled {
  background-color: #888888;
  color: black;
}

.AIButton:hover {
  background-color: #7c0a02;
}

.AIButton:disabled:hover {
  background-color: #888888;
  cursor: not-allowed;
}

.AItext {
  background-color: #2f2f2f;
  width: 800px;
  min-height: 300px;
  padding: 30px;
  border-radius: 10px;
}

.AItext p {
  white-space: pre-line;
}

.genreButtons {
  width: 560px;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3개의 열 */
  gap: 3px; /* 버튼 사이 간격 */
}

.genreButton {
  padding: 10px 20px;
  border: none;
  background-color: white;
  border-radius: 5px;
  font-size: 15px;
  transition: background-color 0.3s, color 0.3s;
}

.genreButton:hover {
  background-color: lightgray;
}

.selected {
  /* 선택된 버튼 */
  background-color: #c21807;
  color: white;
  font-weight: bold;
}

.selected:hover {
  background-color: #7c0a02;
}

.postingTitleInput {
  width: 100%;
  height: 50px;
  border: 2px solid;
  margin-bottom: 20px;
  font-size: 20px;
}

.postingTitleInput:focus {
  /* 포커스 시 */
  border: 2px solid #c21807;
  outline: none;
}

.textarea {
  width: 100%;
  min-height: 250px;
  height: auto; /* 자동 높이 조절 */
  resize: none; /* 사용자가 크기를 직접 조절하지 못하도록 설정 */
  font-size: 16px;
  padding: 15px;
  border: 4px solid black;
  border-radius: 5px;
  box-sizing: border-box;
  overflow: hidden; /* 스크롤바를 숨김 */
}

.textarea:focus {
  /* 포커스 시 */
  border: 4px solid #c21807;
  outline: none;
}
